﻿@{
    ViewBag.Title = "İletişim";
}
<h3>@ViewBag.Message</h3>

<address>
    Ozan Arif ÇAKIR<br />
    Bilgisayar Mühendisliği 2.Sınıf<br />
    <abbr title="Telefon">T:</abbr>
    0(000) 000 0000
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:b140910054@sakarya.edu.tr">b140910054@sakarya.edu.tr</a><br />
</address>