﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron bg-warning">
    <h1>Ozan Arif ÇAKIR</h1>
    <p class="lead">b140910054</p>
</div>


<div class="row">
    <div class="col-md-9 bg-info">
        <h2>Artık Başlayalım :)</h2>
        <p>
            ASP.NET MVC ile hazırlanmış bu sitenin amaçı siz değerli okurlarımızın dikkatini çekmektir.
        </p>
        <p>
            Sizin ilginiz sayesinde buralara kadar geldik.
        </p>
        <p>
            Hepinize çok teşekkür ederiz.
        </p>

    </div>
    <div class="col-md-3 bg-primary" style="float:right;">
        <h2>HABERLER</h2>
        <p>Beşiktaş turu atlarsa işte muhtemel rakipler.</p>
        <p>Beşiktaş, bu akşamki Dinamo Kiev maçının ardından gruptan lider olarak çıkarsa, ikinci turda da karşısına yine zorlu rakipler çıkacak.  Grubunu 1. sırada bitiren takımların, ikincilerle eşleştiği bu turda siyah beyazlılar eğer grubunu zirvede bitirerse, şu anki tabloya göre şu takımlarla eşleşecek: </p>
        <p>- Arsenal </p><p>- Manchester City </p><p>- Bayern Münih </p><p>- Real Madrid </p><p>- Porto Sevilla</p>
        <p><a class="btn btn-success" href="~/Haber">Daha Fazlası İçin Tıklayın &raquo;</a></p>
    </div>


    
    <div class="row bg-info" style="float:left;">
        <div class="col-md-12 "><br /><br /></div>
    </div>
    <div class="row bg-info">
        <div class="col-md-4 ">
            <h2>Güncel Duyurular</h2>
            <p>
                2 Üniversite İçin Rektörlük Aday Adaylığı Başvuru İlanı (05.12.2016)
            </p>
            <p>
                1- 18.06.2008 tarihli ve 5772 sayılı Kanunla değiştirilen 2547 Sayılı Yükseköğretim Kanunu'nun 676 sayılı Kanun Hükmünde Kararname ile değişik 13. maddesinin (a) fıkrası hükümlerine göre "Abdullah Gül Üniversitesi" ve "Pamukkale Üniversitesi" ne rektör ataması yapılacaktır.   2- İlgilenenler 05.12.2016 tarihinden 12.12.2016 Pazartesi günü mesai saati bitimine kadar Yükseköğretim Kurulu Başkanlığı'na başvuruda bulunabilirler.   3- Rektör ataması için aday adayı başvurusunda bulunacak kişilerde; "Profesör" olarak en az üç yıl görev yapmış olması, 657 Sayılı Devlet Memurları Kanunu'nu hükümlerine göre devlet memuru olarak istihdam edilebilmek için engel bir halin bulunmaması, Rektör olarak atama işleminin ikmal edildiği tarih itibarıyla 67 yaşını tamamlamamış olması, şartları aranacaktır.   4- Rektörlük için aday adayı başvurusunda bulunmak isteyen öğretim üyelerinin, üçüncü fıkrada belirtilen şartları taşıması halinde, herhangi bir Devlet veya Vakıf üniversitelerinde kadrolu veya sözleşmeli olarak görev yapmaları şart değildir.   5- Başvuru dilekçesi ile birlikte ekte sunulan formata uygun olarak aday adayının akademik özgeçmişi ve yayın listesi yer almalıdır.   6- Adaylar sadece 1 Üniversitenin Rektörlüğü için başvurabilirler.   Başvuruda kullanılacak Rektör Adayı Bilgi Formu'nu indirmek için tıklayınız.   Not: Başvurular bizzat veya posta ile Yükseköğretim Kurulu Başkanlığına yapılabileceği gibi, "rektoraday@yok.gov.tr" adresine elektronik posta yoluyla da yapılabilir.
            </p>
            <p><a class="btn btn-warning" href="~/Duyurular">Daha Fazlası İçin Tıklayın &raquo;</a></p>

        </div>
        <div class="col-md-4">
            <h2>Sizden Gelenler</h2>
            <img width="300" height="200" src="~/images/resim1.jpg" /><br />
            <img width="300" height="200" src="~/images/resim2.jpg" /><br />
            <img width="300" height="200" src="~/images/resim3.jpg" /><br />
        </div>
        
    </div>
</div>


