﻿@model projeOdev.Models.Duyurular

@{
    ViewBag.Title = "Duyuru Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dbaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dicerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dicerik)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Duyurulara Geri Dön", "Index")
        </div>
    }
</div>
