﻿@model projeOdev.Models.Haberler

@{
    ViewBag.Title = "Haber Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>Haberler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hbaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hbaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hicerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hicerik)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Haberlere Geri Dön", "Index")
        </div>
    }
</div>
