﻿@model projeOdev.Models.Haberler

@{
    ViewBag.Title = "Haber Detayları";
}

<h2>Detaylar</h2>

<div>
    <h4>Haberler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hbaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hbaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hicerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hicerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.HaberlerID }) |
    @Html.ActionLink("Haberlere Geri Dön", "Index")
</p>
